<tbody>
  <tr>
<<<<<<< HEAD
    <td><%= @excercise.excercise_name %></td>
    <td><%= link_to "Chi tiết", "#",
      class: "btn btn-info btn-sm" %></td>
    <td><%= @questions %></td>
    <td><%= @excercise.excercise_name %></td>
    <td><%= @questions[0].question_content %></td>
    <td><%= @answers %></td>
    <td><%= link_to "Thay đổi", "#",
      class: "btn btn-warning btn-sm" %></td>
    <td><%= link_to "Xóa", "#", method: :delete,
      class: "btn btn-danger btn-sm",
      data: {confirm: "Xác nhận xóa bài tập ."} %></td>
  </tr>
</tbody>

